/* .box{
    width: auto;
    height: 80px;
    background-color: rgb(5, 153, 35);
}
@media(min-width:768px){
   .box{
    background-color: blue;
   }

}

@media(min-width:1024px){ 
    .box{
      background-color: rgb(224, 0, 0);
      }
} */

