*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo img{
height: 60px;
width: 100px;
margin-top: 10px;
}
.logo a{
  margin-bottom: 25px; 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  text-align: center;
  text-shadow: #ba0419;
}

.banner-text{
  margin-top: 70px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
      display:flex;
    flex-wrap: wrap;
}

nav {
    /* display: flex; */
    flex-wrap: wrap;
}

nav a {
    color: white;
    margin: 5px 10px;
    text-decoration: none;
}


.banner {
    background-color: #f2f2f2;
    text-align: center;
    padding: 60px 20px;
 
}

.banner h1 {
    font-size: 40px;
    padding-top: 80px;
}

.boxes{
  display:flex;
    flex-wrap: wrap; /* Allows wrapping to next line if needed */
  gap: 70px;        /* Adds space between items */
  justify-content:center; /* Optional: centers the items */
  margin-top: 5rem;
}


#h3 {
  height: 150px;
  width:150px;
  background-color:#ba0419;
  color:#e8c05a;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  text-shadow: rgb(254, 244, 244);
  border:10px solid rgb(212, 207, 207)
}

.banner p {
    font-size: 18px;
}

.banner button {
    padding: 10px 25px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}


.products {
    text-align: center;
    padding: 40px 20px;
}

.product-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;   
}

.product:hover {
    border: 10px solid #cecece;
    padding: 15px;
    width: 220px;
}

.product img {
    width: 100%;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        justify-content: center;
    }

    .banner h1 {
        font-size: 28px;
    }

    .banner p {
        font-size: 16px;
    }

}


a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 8px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

#logo{
    width: 70px;
    height: 70px;
    display: inline-block;
}

/* .banner {
  height: 100px;
  width:100px;
  background-color: rgb(237, 7, 7);
  color:white;
  justify-content: space-evenly;
} */